<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Tecnológico de Antioquia</title>
	<script type="text/javascript" ></script>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div id='banner'>
		<img id= "logo" align= "middle" src="/images/logo.png">
		<h3>SISTEMA DE NOTIFICACIÓN DE PREINSCRIPCION:</h3>
	</div>
	<br>
	<table>
	  <tr>
	    <td>NOMBRE:</td>
	    <td  id="nombre">{{nombre}}</td>
	  </tr>
	  <tr>
	    <td id="identificacion">IDENTIFICACIÓN:</td>
	    <td>{{idEstudiante}}</td>
	  </tr>
	  <tr>
	    <td>CURSO:</td>
	    <td id="curso">{{curso}}</td>
	  </tr>
	  <tr>
	    <td>ID DEL CURSO:</td>
	    <td id="idCurso">{{idCurso}}</td>
	  </tr>
	  <tr>
	    <td>PRECIO:</td>
	    <td id="precio">{{precio}}</td>
	  </tr>
	  <tr>
	    <td>ESTADO DE LA SOLICITUD:</td>
	    <td><b>ACEPTADA</b></td>
	  </tr>
	  <tr>
	    <td>Su solicitud fue realizada el </td>
	    <td id="fecha">{{fecha}}</td>
	  </tr>
	</table>
	<br>
	<a href="http://virtual.tdea.edu.co">Regresar a la página principal</a>
</body>
</html>